ion-grid{
  margin: 2px 5px;
  margin-top: 5px;
  // border: 1px solid rgba(0,0,0,.5);
  align-content: center;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,.5);
}

ion-card-content{
  padding: 10px 0 0 0;
}