<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.id ? 'Actualizar Producto' : 'Nuevo producto'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header color="warning"> Nuevo producto </ion-card-header>
    <form [formGroup]="productForm" (ngSubmit)="guardarProducto()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Precio</ion-label>
        <ion-input formControlName="precio" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input formControlName="descripcion" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Url Imagen</ion-label>
        <ion-input formControlName="imagen" type="text"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label>Categorias</ion-label>
          <ion-select
          placeholder="Selecciona una categoria"
          (ionChange)="handleChange($event)"
          formControlName="category_id"
          >
            <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id"> {{categoria.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-button horizontal="center" block color="primary" type="submit">
        {{this.id ? 'Actualizar' : 'Agregar' }}
      </ion-button>
    </form>
  </ion-card>

</ion-content>